.container_sgOne,
.container_atlantis,
.container_universe {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90dvh;
    cursor: default;
}

.container_sgOne {
    scrollbar-color: rgb(0, 255, 13) rgba(0, 110, 255, 0);
}

.container_sgOne h3 {
    padding: 10px;
    border-bottom: 3px solid blue;
    border-right: 30px solid blue;
    border-left: 30px solid blue;
}

.container_sgOne section h4 {
    padding: 10px;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    border-right: 30px solid blue;
    border-left: 30px solid blue;
}

.container_sgOne section img {
    border-right: 3px solid blue;
    border-left: 3px solid blue;
}

.container_sgOne .items_container,
.container_atlantis .items_container,
.container_univers .items_container {
    display: grid;
    justify-self: center;
    height: fit-content;
    max-width: 400px;
    row-gap: 40px;
}

.container_sgOne section img,
.container_atlantis section img,
.container_universe section img {
    width: 100%;
}

@media screen and (min-width: 400px) {
    .container_sgOne .items_container,
    .container_atlantis .items_container,
    .container_univers .items_container {
        margin-top: 20px;
    }
}

@media screen and (min-width: 600px) {
    .container_sgOne,
    .container_atlantis,
    .container_universe {
        text-align: center;
        overflow-x: hidden;
        overflow-y: auto;
        height: 95dvh;
        cursor: default;
    }   
}

@media screen and (min-width: 800px) {
    .container_sgOne .items_container,
    .container_atlantis .items_container,
    .container_univers .items_container {
        max-width: none;
        grid-template-columns: repeat(2, 40%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 1000px) {
    .container_sgOne .items_container,
    .container_atlantis .items_container,
    .container_univers .items_container {
        grid-template-columns: repeat(3, 30%);
    }
}

@media screen and (min-width: 1200px) {
    .container_sgOne .items_container,
    .container_atlantis .items_container,
    .container_univers .items_container {
        grid-template-columns: repeat(4, 20%);
    }
}