.container_sgOne,
.container_atlantis,
.container_universe {
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgb(0, 255, 13) rgba(0, 110, 255, 0);
    height: 85dvh;
}

.container_sgOne h4,
.container_sgOne h3,
.container_sgOne p,
.container_sgOne ul,
.container_sgOne li {
    padding: 10px;
    cursor: default;
}

.container_sgOne li {
    margin: 10px;
}

.container_sgOne h4 {
    border-left: 60px solid blue;
    border-right: 60px solid blue;
    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
}

.container_sgOne h3 {
    border-left: 30px solid blue;
    border-right: 30px solid blue;
    border-bottom: 3px solid blue;
    border-top: 3px solid blue;
}

.container_sgOne p {
    border: 3px solid blue;
}

.container_sgOne li {
    border-left: 3px solid blue;   
}

.container_sgOne ul {
    margin: 10px;
    border: 3px solid blue;
}

@media screen and (min-width: 1500px) {
    .container_sgOne,
    .container_atlantis,
    .container_universe {
        justify-self: center;
        width: 80%;
        height: fit-content;
    }
}